/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/.idea
/.idea_modules
/*.iml
/.eclipse_build
/.cache
/.classpath
/.project
/.settings/
/.worksheet/
/bin
/lib
/.cache*
.sbtserver*
*~
conf/development.conf
