.top-menu
{
	text-transform: initial;
	width: 840px;
	float: left;
}
.top-menu UL
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.top-menu UL LI
{
	margin-right: 40px;
	height: 27px;
	float: left;
	display: inline;
}
.top-menu UL LI.current A
{
	color: #A24E75;
}
.top-menu UL LI A
{
	color: #323232;
	padding: 8px 0px 5px;
	display: block;
	font-size: 14px;
	font-weight: bold;
}
.top-menu UL LI A:hover
{
	color: #7D7D7D;
	text-decoration: none;
}
.right-menu
{
	width: 100px;
	float: right;
}
.right-menu UL
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.right-menu UL LI
{
	line-height: 28px;
	background: url(arrow_head-yellow.gif) no-repeat top left;
	padding-left: 10px;
	padding-right: 5px;
	margin: 0px 15px 0px 10px;
	height: 27px;
	float: right;
}
.right-menu UL LI A
{
	color: #4D4D4D;
}
#left-menu
{
	padding-right: 0px;
	margin-bottom: 50px;
	width: 190px;
}
#left-menu UL
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#left-menu UL LI
{
	text-transform: none;
	border-bottom: 1px solid #BFD9CF;
}
#left-menu UL LI A
{
	padding: 6px 5px 5px 10px;
	display: block;
}
/*#left-menu ul li a:hover {
color: #B30101;
}*/
#left-menu UL LI.current
{
	background: #A24E75;
}
#left-menu UL LI.parent
{
	padding-bottom: 0px;
}
#left-menu UL LI.current A
{
	font-weight: bold;
	color: #FFFFFF;
}
#left-menu UL LI.current A:hover
{
	/*[empty]color:;*/
}
#left-menu UL LI.current UL
{
	background: #F7FAF9;
//	border-top: 1px solid #BFD9CF;
	padding-left: 10px;
}
#left-menu UL LI.current UL LI
{
	text-transform: none;
}
#left-menu UL LI.current UL LI A
{
	font-weight: normal;
	color: #252525;
	padding-left: 0px;
}
#left-menu UL LI.current UL LI.current
{
	background: url(arrow_blue2.png) no-repeat top left;
}
#left-menu UL LI.current UL LI.last
{
	border-bottom: none;
}
/*#left-menu ul li.current ul li.current a {
color: #B0101;
padding-left: 10px;
}*/
#left-menu UL LI.current UL LI.current A.current
{
	color: #0090A8;
	padding-left: 10px;
}