@import play.api.Play.current
<!DOCTYPE html>
<html>
<head>
<title>data.met.no</title>
</head>

<body>

<h1>data.met.no</h1>

<p>The data.met.no API provides free access to MET Norway's archive of
historical weather and climate data, in addition to station history
information. These data include quality controlled daily, monthly, and yearly
measurements of temperature, precipitation, and wind data.</p>

<p><strong>NOTE:</strong> The data.met.no API is currently in the early stages of
development, so expect rapid and significant changes to any and all resources
made available on this service.</p>

<h2>Quick Links</h2>

<ul>
<li><a href="#Getting Started">Getting Started</a></li>
<li><a href="#API Overview">API Overview</a></li>
<li><a href="/docs">API Documentation</a></li>
<li><a href="http://met.no/English/Data_Policy_and_Data_Services/">Licensing and Data Policy</a></li>
</ul>

<h3><a name="Getting Started">Getting Started</a></h3>

<p>This API is primarily for developers who need to develop scripts or
applications that use MET Norway's archive of historical weather and climate
data. An API-Key is required to use the API. There are currently no hard data
retrieval limits on API-Keys, but any API-Keys which place undue strain on the
server infrastructure during this period will be deleted without prior
warning.</p>

<p>To get started using the data.met.no API:</p>

<ol>
<li><a href="/auth/requestToken.html">Request an API-Key</a>.</li>
<li>Play with and learn more about the resources available in
  <a href="/docs">Swagger</a> (use the API-Key).</li>
<li>Begin developing your application. All calls must be
  <a href="#Authentication">authenticated</a> with your API-Key. To
  <a href="#Authorize">authorize</a> access to protected resources and data,
  you also need an access token using the OAuth2 client credentials flow (as
  well as permission to access those resources). Note that the vast majority of
  data on this service is open, so the authorization flow should rarely be
  required.</li>
</ol>

<h3><a name="API Overview">API Overview</a></h3>

This section should contain documentation on:

<ul>
<li><a href="#API Version">API Version</a></li>
<li>Authentication</li>
<li>Authorization</li>
<li>Resources, Schema, Parameters, Verbs</li>
<li>Hypermedia</li>
<li>CORS</li>
<li>Localization</li>
</ul>

<h4><a name="API Version">API Version</a></h4>

The data.met.no API is currently in alpha. As such, it should not be used for
production tasks.



<h2>Other Data APIs at MET Norway</h2>

<ul>
<li><a href="http://api.met.no">api.met.no</a></li>
<li><a href="http://eklima.met.no">eKlima</a></li>
<li><a href="http://wsKlima.met.no">wsKlima</a></li>
</ul>

</body>
</html>
