@import play.api.Play.current
@import util._

<!DOCTYPE html>
<html>
<head>
  <title>data.met.no</title>
  <link type="image/x-icon" rel="icon" href="/images/met_favicon.png">
  <link type="image/x-icon" rel="shortcut icon" href="/images/met_favicon.ico">
  <link href="/stylesheets/style_default_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style_layout_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style_menu_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/paginator.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/dictionary.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper" class="frontpage">
  <div id="header" class="clearfix">
    <div id="logo">
      <a href="http://met.no"><img src="/images/logo_2013_no.png" alt="met.no"></img></a>
    </div>
    @util.navbar()
  </div>
  <div id="top-line">
    <div class="top-menu">
      <ul>
        <li><a href="https://data.met.no">data.met.no</a></li>
      </ul>
    </div>
  </div>


  <div id="main-content" class="frontpage clearfix">

    <h1>Language Examples</h1>

    <!-- --------------------------------------------------------------------------------------------------------------------------->

    <ul>
      <li> <a href="/langex_python">Python</a>
      <li> <a href="/langex_r">R</a>
    </ul>

  </div>

</div>

</body>
</html>
