@import play.api.Play.current
@import util._

<!DOCTYPE html>
<html>
<head>
  <title>data.met.no</title>
  <link type="image/x-icon" rel="icon" href="/images/met_favicon.png">
  <link type="image/x-icon" rel="shortcut icon" href="/images/met_favicon.ico">
  <link href="/stylesheets/style_default_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style_layout_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style_menu_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/paginator.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/dictionary.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper" class="frontpage">
  <div id="header" class="clearfix">
    <div id="logo">
      <a href="http://met.no"><img src="/images/logo_2013_no.png" alt="met.no"></img></a>
    </div>
    @util.navbar()
  </div>
  <div id="top-line">
    <div class="top-menu">
      <ul>
        <li><a href="https://data.met.no">data.met.no</a></li>
      </ul>
    </div>
  </div>


  <div id="main-content" class="frontpage clearfix">

    <h1>R</h1>

    <!-- --------------------------------------------------------------------------------------------------------------------------->

    <p>How to access data.met.no using the <a href="https://en.wikipedia.org/wiki/R_(programming_language)">R language</a>.
    </p>
 <pre>  
The code extracts wind, but here you can change parameters and stations as you wish.
The code builds up a url, extracts data for the period, and adds data to an R data.frame. The code that transfers the data to the frame must be updated if you retrieve another parameter.


rm (list = ls ())
library ( "httr")

# Authentication (Note: the client ID and client Secret  used in the example should be replaced with a real one)
client_id <- "ta079a66-7ec9-4ca2-8ecf-v091899a9eba: k8413149-8f24-4de1-8154-e5a2c85e523c"

(Note: the client credentials used in the example should be replaced with a real one)

	     
# Parameters to be extracted
Welements <- c ("wind_speed", "wind_from_direction")

# Station, please enter more
sources <- c ("SN4780")

# Time range that you want observations for
start_date <- "2015-01-01T00: 00"
stop_date <- "2015-01-03T00: 00"

# URL for collection is aggregated
 url <- paste ("https: //", client_id, "&#64; data.met.no/ observations / v0.jsonld?",
              "sources =", paste (sources, collapse = ","),
              "& referencetime =", start_date, "/", stop_date,
              "& elements =", paste (Welements, collapse = ","),
              sep = "", collapse = "")
 
 # Retrieves data via API and picks out the current fields from json continuously. Data is added to a table
 system.time ({
   xs <- scan (url, what = "")
   print (object.size (x))
   k <- grep ("referenceTime", xs)
   e <- grep ("^ wind_speed $", xs) # This ensures that only the exact string
   d <- grep ("^ wind_from_direction $", xs)
   s <- grep ("sourceId", xs)
   wsTable <- data.frame (Stnr = xs [s + 2], time = xs [k + 2],
                       WD = as.numeric (gsub (",", "", xs [d + 4])), WS = as.numeric (gsub (",", "", xs [e + 4]))
 })
 
# The table is fine-tuned slightly
datetime <- strxtime (x = as.character (wsTable $ time), format = "% Y-% m-% dT% H:% M:% S", tz = "UTC")
 wsTable $ time <- datetime
</pre>


    <p><b>Side note:</b> <a href="https://github.com/metno/esd">ESD</a> is an R-package for climate and weather analysis developed at MET Norway. Try it out!
    </p>

  </div>

</div>

</body>
</html>
