@import play.api.Play.current
@import util._

<!DOCTYPE html>
<html>
<head>
  <title>data.met.no</title>
  <link type="image/x-icon" rel="icon" href="/images/met_favicon.png">
  <link type="image/x-icon" rel="shortcut icon" href="/images/met_favicon.ico">
  <link href="/stylesheets/style_default_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style_layout_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style_menu_2013.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/paginator.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/dictionary.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper" class="frontpage">
  <div id="header" class="clearfix">
    <div id="logo">
      <a href="http://met.no"><img src="/images/logo_2013_no.png" alt="met.no"></img></a>
    </div>
    @util.navbar()
  </div>
  <div id="top-line">
    <div class="top-menu">
      <ul>
        <li><a href="https://data.met.no">data.met.no</a></li>
      </ul>
    </div>
  </div>


  <div id="main-content" class="frontpage clearfix">

    <h1>R Examples</h1>

    <!-- --------------------------------------------------------------------------------------------------------------------------->

    <p>Here's a few examples of how to access data.met.no using the <a href="https://en.wikipedia.org/wiki/R_(programming_language)">R language</a>.
    </p>

    <p><span style="background-color:#ffff00;color:#000000;">TO BE ADDED</span></p>

    <p><b>Side note:</b> <a href="https://github.com/metno/esd">ESD</a> is an R-package for climate and weather analysis developed at MET Norway. Try it out!
    </p>

  </div>

</div>

</body>
</html>
